body,a{
    color: #eae5ca;
    font-family: 'Anonymous Pro', monospace;
    font-weight: 700;
    font-size: 16px;
}
.logo{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    opacity: 0.9;
}
.text-center a{
    text-decoration: none;
    display: inline-block;
}
.b-color{
    color: #b7ff6b;
}
.u-color{
    color: #ffae8a;
}
.r-color{
    color: #ff8ecf;
}
.i-color{
    color: #8287ff;
}
.m-color{
    color: #65f2ff;
}
.e-color{
    color: #ff695d;
}
header{
    background: #4f4f4f;
    padding:  6px 0;
}
.burime-item{
    border: 2px solid #4f4f4f;
    height: 140px;
    overflow: hidden;
    color: #949494;
    position: relative;

}
.hover:after {
    content: attr(data-title);
    display: none;
    position: absolute;
    bottom: 100%;
    left: -134px;
    background-color: #4f4f4f;
    color: #eae5ca;
    padding: 9px;
    border-radius: 5px;
    text-align: center;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.16);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.16);
    box-shadow: 0 1px 1px rgba(0,0,0,.16);
    font-size: 15px;
}
/* Добавляем свойство, чтобы при наведении на элемент плашка с подсказкой появилась */
.hover:hover:after{
    display: block;
}
.p-2 {
    padding: .8rem!important;
}
.title-burime{
    text-align: center;
    color: #040404;
}
.filter,.burime-item .author{
    filter: blur(1px);
}
.burime-item a{
    text-decoration: none;
    color: #949494;

}
.burime-item i{
    position: absolute;
    bottom: 11px;
    right: 20px;
    color: #040404;
    font-size: 2em;
}
footer{
    background: #4f4f4f;
    width: 300px;
}
.burime-item .author{
   float: right;
}
.opened-burime{
    color: #040404;
}
.opened-burime .author{
    text-align: right;
    font-weight: 700;
    padding: 0 15px 0 0;
}
.opened-burime {
    font-weight: 400;
    margin-bottom: 50px;
}
.opened-burime h4{
    font-weight: 700;
    padding: 15px;
}
.author-photo{
    border-radius: 50%;
}
.btn-burime{
    background-color: #4f4f4f;
    border-color: #040404;
}
.btn-burime:hover{
    background-color: #7e7e7e;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #7f7f7f;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(87, 87, 87, 0.25);
}
.opened-burime form{
    margin-top: 40px ;
}
.opened-burime form input{
    margin-bottom: 10px;
}