body,a{
    color: #eae5ca;
    font-family: 'Anonymous Pro', monospace;
    font-weight: 700;
    font-size: 16px;
}
.logo{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    opacity: 0.9;
}
.text-center a{
    text-decoration: none;
    display: inline-block;
}
.b-color{
    color: #b7ff6b;
}
.u-color{
    color: #ffae8a;
}
.r-color{
    color: #ff8ecf;
}
.i-color{
    color: #8287ff;
}
.m-color{
    color: #65f2ff;
}
.e-color{
    color: #ff695d;
}
header{
    background: #4f4f4f;
    padding:  10px 0;
}
.burime-item{
    border: 1px solid black;
    height: 140px;
    overflow: hidden;
    color: #949494;
    position: relative;

}
.p-2 {
    padding: .8rem!important;
}
.title-burime{
    text-align: center;
    color: #040404;
}
.filter,.burime-item .author{
    filter: blur(1px);
}
.burime-item a{
    text-decoration: none;
    color: #949494;

}
.burime-item i{
    position: absolute;
    bottom: 11px;
    right: 20px;
    color: #040404;
    font-size: 2em;
}
footer{
    background: #4f4f4f;
    width: 300px;
}
.burime-item .author{
   float: right;
}
.opened-burime{
    color: #040404;
}
.opened-burime .author{
    text-align: right;
    font-weight: 700;
}
.opened-burime {
    font-weight: 400;
}
.opened-burime h4{
    font-weight: 700;
    padding: 15px;
}
.author-photo{
    border-radius: 50%;
}
